/* src/components/Profile/Profile.module.css */

.profile {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #f3f6f9;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  font-family: sans-serif;
}

.description {
  padding: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.tag,
.location {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.stats {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f1f2f3;
  border-top: 1px solid #dcdcdc;
}

.stats li {
  flex-basis: calc(100% / 3);
  padding: 15px 0;
  border-right: 1px solid #dcdcdc;
}

.stats li:last-child {
  border-right: none;
}

.label {
  display: block;
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}

.quantity {
  font-weight: 700;
  font-size: 16px;
}
