/* src/components/TransactionHistory/TransactionHistory.module.css */

.transactionHistory {
  width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: sans-serif;
}

.transactionHistory thead {
  background-color: #009688;
  color: #fff;
}

.transactionHistory th,
.transactionHistory td {
  padding: 12px;
  border: 1px solid #ddd;
}

.transactionHistory tr:nth-child(even) {
  background-color: #f2f2f2;
}
