.table {
  width: 100%;
  margin: 50px auto 0;
  border-collapse: collapse;
  border: 2px solid #313131;
}

thead {
  background-color: #49494a;
  color: #fff;
}

th {
  text-align: center;
  height: 45px;
  border: 2px solid #313131;
}

tr {
  text-align: center;
  height: 45px;
  border: 2px solid #313131;
}

tr:nth-child(2n) {
  background-color: #f1f1f1;
}

td {
  border: 2px solid #313131;
}

.text {
  text-transform: capitalize;
}
